.cardsContainer{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 10px;
    padding:10px;
}

.singlePokemon img{
    width: 70%;
}

.singlePokemon{
    box-sizing: border-box;
    border:2px solid pink;
    justify-self: center;
    text-align: center;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
}

.singlePokemon:hover{
    border-color:palevioletred;
    transform: translate(-0.5rem, -0.5rem);
}