*{
  border:2px solid red;
  margin: 5px;
}

#root{
  width: 100%;
}

.score-container{
  text-align: center;
}

.score-container p{
  font-weight: 900;
}

.cards-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-container__pokemon img{
  width: 100%;
}